In [59]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1)

pd.options.display.mpl_style = 'default'

In [558]:
train = pd.read_csv("E:/Competition/Datafest/train.csv")

In [559]:
test = pd.read_csv("E:/Competition/Datafest/test.csv")

In [560]:
#feature based on compariosn of third moving average and fifth moving average
def f35(row):
    if row['Three_Day_Moving_Average'] == row['Five_Day_Moving_Average']:
        val = 0
    elif row['Three_Day_Moving_Average'] > row['Five_Day_Moving_Average']:
        val = 1
    else:
        val = -1
    return val

In [561]:
#feature based on compariosn of third moving average and tenth moving average
def f310(row):
    if row['Three_Day_Moving_Average'] == row['Ten_Day_Moving_Average']:
        val = 0
    elif row['Three_Day_Moving_Average'] > row['Ten_Day_Moving_Average']:
        val = 1
    else:
        val = -1
    return val

In [562]:
#feature based on compariosn of third moving average and twenty day moving average
def f320(row):
    if row['Three_Day_Moving_Average'] == row['Twenty_Day_Moving_Average']:
        val = 0
    elif row['Three_Day_Moving_Average'] > row['Twenty_Day_Moving_Average']:
        val = 1
    else:
        val = -1
    return val

In [563]:
#feature based on compariosn of Five_Day_Moving_Average and tenth moving average
def f510(row):
    if row['Five_Day_Moving_Average'] == row['Ten_Day_Moving_Average']:
        val = 0
    elif row['Five_Day_Moving_Average'] > row['Ten_Day_Moving_Average']:
        val = 1
    else:
        val = -1
    return val

In [564]:
#feature based on compariosn of Five_Day_Moving_Average and twenty moving average
def f520(row):
    if row['Five_Day_Moving_Average'] == row['Twenty_Day_Moving_Average']:
        val = 0
    elif row['Five_Day_Moving_Average'] > row['Twenty_Day_Moving_Average']:
        val = 1
    else:
        val = -1
    return val

In [565]:
#feature based on compariosn of Ten_Day_Moving_Average and twenty moving average
#def f1020(row):
 #   if row['Ten_Day_Moving_Average'] == row['Twenty_Day_Moving_Average']:
 #       val = 0
 #   elif row['Ten_Day_Moving_Average'] > row['Twenty_Day_Moving_Average']:
  #      val = 1
  #  else:
  #      val = -1
   # return val

In [566]:
#comparison of three moivng day
def c3(row):
    if row['Compare_3_5'] == row['Compare_3_10'] == row['Compare_3_20']:
        return 1
    else :
        return 0

In [567]:
train['Compare_3_5'] = train.apply(f35, axis=1)
test['Compare_3_5'] = test.apply(f35, axis=1)

In [568]:
train['Compare_3_10'] = train.apply(f310, axis=1)
test['Compare_3_10'] = test.apply(f310, axis=1)

In [569]:
train['Compare_3_20'] = train.apply(f320, axis=1)
test['Compare_3_20'] = test.apply(f320, axis=1)

In [570]:
train['Compare_5_10'] = train.apply(f510, axis=1)
test['Compare_5_10'] = test.apply(f510, axis=1)

In [571]:
train['Compare_5_20'] = train.apply(f520, axis=1)
test['Compare_5_20'] = test.apply(f520, axis=1)

In [572]:
train['SUM_3'] = train['Compare_3_5']+train['Compare_3_10']+train['Compare_3_20']

In [573]:
test['SUM_3'] = test['Compare_3_5']+test['Compare_3_10']+test['Compare_3_20']

In [574]:
#train['SUM_5'] = train['Compare_5_10']+train['Compare_5_20']
#test['SUM_5'] = test['Compare_5_10']+test['Compare_5_20']

In [575]:
train['c_3'] = train.apply(c3,axis=1)
test['c_3'] = test.apply(c3,axis=1)

In [576]:
#train['Compare_10_20'] = train.apply(f1020, axis=1)
#test['Compare_10_20'] = test.apply(f1020, axis=1)

In [577]:
#dropping unnecessary columns
train.drop(train.columns[[ 0,1, 2,4,5,6,7]], axis=1, inplace= True)

In [578]:
train.head()

,Volume,True_Range,Average_True_Range,Positive_Directional_Movement,Negative_Directional_Movement,Outcome,Compare_3_5,Compare_3_10,Compare_3_20,Compare_5_10,Compare_5_20,SUM_3,c_3
0,-0.33308,-0.21129,-0.38778,-0.39903,-0.14321,1,-1,-1,-1,-1,-1,-3,1
1,-0.67096,-0.46476,0.97308,-0.31078,0.80286,0,-1,-1,-1,-1,-1,-3,1
2,-0.22040,-0.51638,-0.52368,-0.24140,-0.31910,0,-1,-1,-1,-1,-1,-3,1
3,-0.23118,-0.60816,-0.69311,-0.40673,-0.45965,0,-1,-1,-1,-1,-1,-3,1
4,0.15076,-0.33206,-0.43690,-0.33347,0.29217,0,-1,-1,-1,-1,-1,-3,1

In [449]:
#train.info()

As we can clearly see there are null values, let us find out how many values are null

In [331]:
#train.isnull().sum()

In [330]:
#test.info()

In [329]:
#test.isnull().sum()

Filling Null values in ATR with TR values

In [246]:
#train['Average_TR']= train['Average_True_Range']
#test['Average_TR']= test['Average_True_Range']

In [247]:
#train.Average_TR.fillna(train.True_Range, inplace=True)
#test.Average_TR.fillna(test.True_Range, inplace=True)

In [248]:
#train['PlusADX']= (train['Positive_Directional_Movement']/train['Average_TR'])
#train['MinusADX']= (train['Negative_Directional_Movement']/train['Average_TR'])
#test['PlusADX']= (test['Positive_Directional_Movement']/test['Average_TR'])
#test['MinusADX']= (test['Negative_Directional_Movement']/test['Average_TR'])

In [249]:
#dropping fieds which were used to calculate plus and minus ADX
#train.drop('Positive_Directional_Movement', axis=1, inplace = True)
#train.drop('Average_TR', axis=1, inplace = True)
#train.drop('Negative_Directional_Movement', axis=1, inplace = True)

In [250]:
#test.drop('Positive_Directional_Movement', axis=1, inplace = True)
#test.drop('Average_TR', axis=1, inplace = True)
#test.drop('Negative_Directional_Movement', axis=1, inplace = True)

In [579]:
x_train = train
y_train = train['Outcome'].values

In [580]:
x_train.drop('Outcome', axis=1, inplace = True)

In [581]:
x_train.head()

,Volume,True_Range,Average_True_Range,Positive_Directional_Movement,Negative_Directional_Movement,Compare_3_5,Compare_3_10,Compare_3_20,Compare_5_10,Compare_5_20,SUM_3,c_3
0,-0.33308,-0.21129,-0.38778,-0.39903,-0.14321,-1,-1,-1,-1,-1,-3,1
1,-0.67096,-0.46476,0.97308,-0.31078,0.80286,-1,-1,-1,-1,-1,-3,1
2,-0.22040,-0.51638,-0.52368,-0.24140,-0.31910,-1,-1,-1,-1,-1,-3,1
3,-0.23118,-0.60816,-0.69311,-0.40673,-0.45965,-1,-1,-1,-1,-1,-3,1
4,0.15076,-0.33206,-0.43690,-0.33347,0.29217,-1,-1,-1,-1,-1,-3,1

In [453]:
#checking correlation plot

#corr=train.corr()
#plt.figure(figsize=(10, 10))

#sns.heatmap(corr, vmax=1, square=True,annot=True,cmap='cubehelix')
#plt.title('Correlation between features')

In [582]:
# Finally, we split some of the data off for validation

from sklearn.cross_validation import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.2, random_state=4242)

In [583]:
import xgboost as xgb

# Set our parameters for xgboost
params = {}
params['objective'] = 'binary:logistic'
params['eval_metric'] = 'logloss'
params['eta'] = 0.11 #0.02
params['max_depth'] = 5
#params['subsample']=0.7
#params['min_child_weight']=1
#params['colsample_bytree']=0.7
params['silent']=1
#params['seed']=1632

d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

bst = xgb.train(params, d_train, 1000, watchlist, early_stopping_rounds=50, verbose_eval=10)

[0]	train-logloss:0.691049	valid-logloss:0.691152
Multiple eval metrics have been passed: 'valid-logloss' will be used for early stopping.

Will train until valid-logloss hasn't improved in 50 rounds.
[10]	train-logloss:0.682793	valid-logloss:0.683608
[20]	train-logloss:0.680867	valid-logloss:0.682129
[30]	train-logloss:0.68003	valid-logloss:0.681703
[40]	train-logloss:0.679426	valid-logloss:0.681409
[50]	train-logloss:0.679063	valid-logloss:0.681313
[60]	train-logloss:0.678653	valid-logloss:0.681164
[70]	train-logloss:0.678189	valid-logloss:0.680978
[80]	train-logloss:0.677885	valid-logloss:0.680952
[90]	train-logloss:0.677653	valid-logloss:0.680934
[100]	train-logloss:0.677334	valid-logloss:0.680885
[110]	train-logloss:0.677091	valid-logloss:0.680852
[120]	train-logloss:0.676878	valid-logloss:0.680854
[130]	train-logloss:0.676629	valid-logloss:0.6808
[140]	train-logloss:0.676322	valid-logloss:0.680734
[150]	train-logloss:0.676116	valid-logloss:0.680716
[160]	train-logloss:0.675818	valid-logloss:0.680671
[170]	train-logloss:0.67564	valid-logloss:0.680662
[180]	train-logloss:0.675481	valid-logloss:0.680673
[190]	train-logloss:0.675217	valid-logloss:0.68064
[200]	train-logloss:0.675002	valid-logloss:0.680659
[210]	train-logloss:0.6748	valid-logloss:0.680684
[220]	train-logloss:0.674531	valid-logloss:0.680669
[230]	train-logloss:0.674365	valid-logloss:0.680694
[240]	train-logloss:0.674188	valid-logloss:0.680718
Stopping. Best iteration:
[193]	train-logloss:0.67514	valid-logloss:0.680636

In [584]:
test.head()
df_test = pd.DataFrame()
df_test['ID'] =  test['ID']

In [585]:
test.drop(test.columns[[  0,1, 2,4,5,6,7]], axis=1, inplace= True)

In [586]:
test.head()

,Volume,True_Range,Average_True_Range,Positive_Directional_Movement,Negative_Directional_Movement,Compare_3_5,Compare_3_10,Compare_3_20,Compare_5_10,Compare_5_20,SUM_3,c_3
0,0.43959,0.11595,0.17058,-0.39903,-0.33365,-1,-1,-1,-1,-1,-3,1
1,-0.38494,-0.47816,-0.48696,-0.28545,-0.30166,1,-1,-1,-1,-1,-1,0
2,1.38417,0.27538,0.86787,-0.31078,-0.43770,-1,-1,-1,-1,-1,-3,1
3,-0.22040,-0.51638,0.04259,-0.24140,-0.31910,1,1,-1,1,-1,1,0
4,-0.21500,0.10491,-0.63238,-0.40673,-0.45965,1,-1,1,-1,-1,1,0

In [587]:
d_test = xgb.DMatrix(test)
p_test = bst.predict(d_test)

In [588]:
sub = pd.DataFrame()
sub['ID'] = df_test['ID']
sub['Outcome'] = p_test
sub.to_csv('E:/Competition/Datafest/simple_xgb22.csv', index=False)